@import "../../base";

@mixin theme($transform,$opacity) {
    height: 75dvh;
    width: 30dvw;
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    position: fixed;
    background-color: azure;
    transition: all 0.3s linear;
    // position: absolute;
    left: 0;
    transform:$transform;
    opacity:$opacity;
    z-index: 2;

}

.sideBar {
    @include theme($transform:translateX(-100%),$opacity:0.3);
    // transform: translateX(-100%);
    // opacity: 0.3;

}

.sideBarActive {
    @include theme($transform:translateX(),$opacity:1);
    // opacity: 1;
    // transform: translateX();
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75vmax;
    // margin: 1vmax;
    position: relative;

    input {
        width: 80%;
        height: 2.5vmax;
        // margin: auto;
        padding: 0.3vmax;
        font-size: 1.2vmax;
        font-weight: 600;

        // text-align: center;
        &:focus {
            outline: none;
        }
    }

    button {
        // transform: translateX(-2.5vmax);
        width: 2.5vmax;
        height: 2.5vmax;
        margin:0.5vmax;
        border-radius: 2px;
        border: none;
        text-align: center;
        line-height: 1rem;
        font-size: 1.2vmax;
        color: white;
        background-color: #0d6efd;

        &:hover{
            background-color: #2167d0;
            // box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
        }

    }


}

.sideBarContainer {
    width: 100%;
    // height: 70%;
    padding: 1vmax;
    overflow-x: scroll;
}

@media(max-width:600px){
    .sideBarActive{
        z-index: 2;
        width: 90%;
        height: 90dvh;
        input {
            width: 82%;
            height: 5vmax;
            padding: 1.3vmax;
            font-size: 2.2vmax;
        
        }

        button{
            width: 5vmax;
            height: 5vmax;
            margin: 0.5vmax;
            font-size: 2.2vmax;
        }
    }
}